#alert {
  background: #FFDD66;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: none;
}

.alert p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: xx-large;
  font-weight: bold;
}