/.settings
/log
/.classpath
/.project
/.idea
/target
/pom.xml.bak
/multibit.blockchain
/mbm/target
/mbm-clients/java/jsp-jquery/target

mbm/log/mbm-detail-2012-05-26.0.log.gz

mbm/log/mbm/mbm-detail.log

mbm/mbm.iml
